.comment {
    margin-top:     1em;
    margin-bottom:  1em;
}

.comment_author {
    font-weight: bold;
}

.comment .requested_user::after {
    content: ", ";
}

.comment .requested_user:last-child:after {
    content: "";
}
